body {font-size:14px;font-family:"나눔고딕";}
input,select,textarea {font-size:14px;font-family:나눔고딕";}
select {font-size:14px;font-family:나눔고딕";}
label {cursor:pointer;}
a {text-decoration:none;color:#000;}
a:hover {color:#666;}
.wrap {width:960px;margin:auto;}
#header {}
#content {padding:50px 0 0 0;margin-top:20px;min-height:500px;}
#footer {}