#configbox .td1 {padding:14px 0 5px 15px;width:90px;vertical-align:top;}
#configbox .td2 {padding:10px 0 5px 0;color:#666666;}
#configbox .td2 .select1 {width:180px;letter-spacing:-1px;}
#configbox .submitbox {margin:20px 0 20px 0;padding:15px 0 0 107px;border-top:#dfdfdf dashed 1px;}
