.t_type5 {
	margin:0px;padding:0px;
	width:100%;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.t_type5 table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.t_type5 tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.t_type5 table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.t_type5 table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.t_type5 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}/*.t_type5 tr:hover td{
	background-color:#ffd0d0;
		

}*/
.t_type5 td{
	background-color:#ffffff;
	border:1px solid #dddddd;
	border-width:0px 1px 1px 0px;
	padding:10px;
	font-size:12px;
	font-family:"나눔고딕";
	text-align:center;
	color:#666666;
}.t_type5 tr:last-child td{
	border-width:0px 1px 1px 0px;
}.t_type5 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.t_type5 tr:last-child td:last-child{
	border-width:0px 0px 1px 0px;
}
.t_type5 tr:first-child td{
		background:-o-linear-gradient(bottom, #ff8989 5%, #ff8989 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8989), color-stop(1, #ff8989) );
	background:-moz-linear-gradient( center top, #ff8989 5%, #ff8989 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8989", endColorstr="#ff8989");	background: -o-linear-gradient(top,#ff8989,ff8989);

	background-color:#ff8989;
	border:0px solid #fff;
	text-align:center;
	border-width:0px 1px 0px 0px;
	font-size:14px;
	font-family:"나눔고딕";
	font-weight:bold;
	color:#ffffff;
}
/*.t_type5 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff8989 5%, #ff8989 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8989), color-stop(1, #ff8989) );
	background:-moz-linear-gradient( center top, #ff8989 5%, #ff8989 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8989", endColorstr="#ff8989");	background: -o-linear-gradient(top,#ff8989,ff8989);

	background-color:#ff8989;
}*/
.t_type5 tr:first-child td:first-child{
	border-width:0px 1px 0px 0px;
}
.t_type5 tr:first-child td:last-child{
	border-width:0px 1px 0px 0px;
}